fastapi
faiss-cpu
huggingface_hub
httpx
jinja2
langchain
langchain-core
langgraph
matplotlib
numpy
opencv-python-headless
openai-whisper
pandas
pillow
psycopg2-binary
pydantic
PyPDF2
pypdf
python-dateutil
python-dotenv
python-multipart
PyYAML
redis
reportlab
requests
scikit-learn
scipy
SQLAlchemy
tiktoken
torch
torchvision
tqdm
typing_extensions
uvicorn[standard]
